body {
    height: 100%;
    background-attachment: fixed;
}

html {
    height: 100%;
}

.wrapper {
    min-height: 88%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.animated-gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(270deg, #ff4e50, #f9d423, #00c9ff, #92fe9d, #ff4e50);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease infinite;
    text-align: center;
    display: inline-block;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}